#about {
  background-color: $clr-pink;
  color: $clr-white;
}
#about h1 {
  padding-top: 10vh;
}
.role {
  color: $clr-beige-1;
  padding-left: 133px;
}
.font-italic {
  font-style: italic;
}
#about img {
  border-radius: 50%;
  height: 103px;
  width: 103px;
  float: left;
  padding: 10px;
  margin-right: 30px;
}
#about .row .col-xs-12,
.col-sm-6 {
  padding-bottom: 30px;
}
#about .col-sm-6 {
  padding: 7vw;
}
@media (max-width: 1300px) {
  .role {
    padding: unset;
  }
}
