footer {
  background-color: $clr-blue-1;
  color: $clr-white;
  margin-top: 150px;
}

.form-control {
  background-color: #273a71;
  border: none;
}

::placeholder {
  color: white !important;
}
.myButton {
  background-color: #18a0cc;
  border-radius: 3px;
  display: inline-block;
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  padding: 18px 76px;
  text-decoration: none;
}
footer .button {
  text-align: center;
}
