@import "./var";

/* ==================PORTFOLIO KODAS============================ */

@mixin reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

@mixin reset-btn {
  border: none;
  background: none;
  outline: none;
}

$font-weights: (
  "regular": 400,
  "medium": 600,
  "bold": 700,
);

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

$font-sizes: (
  "xx-small": 1 em,
  "x-small": 1.1 em,
  "medium": 1.4 em,
  "large": 2.7 em,
);

@function size($size-name) {
  @return map-get($font-sizes, $size-name);
}

@mixin padding-top-bottom($size) {
  padding-top: $size;
  padding-bottom: $size;
}

#main {
  @include reset;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: $font;
  line-height: 1.5em;

  .background {
    background: $clr-beige-1;
    @include padding-top-bottom(110px);
    text-align: center;
  }

  button {
    @include reset-btn;
    text-transform: uppercase;
    padding: 3px 10px;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  h1 {
    font-size: size(large);
    font-weight: weight(bold);
    color: $clr-black;
    @include padding-top-bottom(10px);
    text-transform: uppercase;
  }

  p {
    font-size: size(x-small);
    margin-bottom: 5px;
    margin-top: 5px;
    display: block;
    font-weight: weight(regular);
  }

  .title-line {
    width: 87px;
    height: 3px;
    background: $clr-beige-2;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .image {
    margin-top: 50px;
    .image-row {
      .image-column {
        display: block;
        padding-bottom: 40px;
        color: $clr-black;
        p {
          margin-top: 20px;
        }
      }
    }
  }

  .button {
    text-align: center;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 18px 95px;
    background: $clr-mint-1;
    border-bottom: 5px solid $clr-mint-2;
    color: $clr-white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  .button:hover {
    background: $clr-orange-1;
    border-bottom: 5px solid $clr-orange-2;
  }

  .buttons-container {
    text-align: center;
    ul {
      border-radius: 3px;
      display: inline-block;
      margin: 20px 0 10px 0;
      padding-top: 10px;
      overflow: hidden;
    }
    li {
      float: left;
      list-style: none;
      button {
        border: none;
        color: $clr-black;
        font-size: size(xx-small);
        padding: 5px 10px;
        outline: none;
        -webkit-transition: background-color 0.2s;
        transition: background-color 0.2s;
        font-weight: weight(regular);
      }
      button:hover,
      button.selected {
        color: $clr-white;
      }
    }

    .buttons {
      display: inline-block;
      list-style: none;
      li {
        float: left;
        background: $clr-beige-2;
        padding: 2px 14px;
        margin-right: 5px;
        color: $clr-black;
        text-transform: uppercase;
        border-radius: 4px;
        list-style: none;
      }
      li:hover {
        text-decoration: none;
      }
    }
  }
}

/* ==================PORTFOLIO KODAS PABAIGA============================ */
