#section {
  background-color: $clr-mint-1;
  height: 100vh;
  color: $clr-white;
  font-family: $font;
}

.hr {
  display: inline;
  background-color: #14a58c;
  border: 0;
  width: 5%;
  padding: 1.5px;
  margin-left: 48%;
  vertical-align: middle;
  opacity: 1;
}
header h1,
#section h2 {
  letter-spacing: 0.1em;
  text-align: center;
  padding-top: 12vh;
  color: $clr-white;
}
h2,
h5,
button {
  text-transform: uppercase;
}
h1,
h2,
h5 {
  font-weight: bold;
}
h5 {
  padding-top: 5vh;
  font-size: 1.2em;
}
div p {
  font-weight: 300;
}
.desc {
  font-weight: lighter;
  font-size: 14px;
  line-height: 24px;
}

main #section div .img-fluid {
  padding-left: 24%;
  height: 124px;
}

main #section .row:nth-child(2) {
  padding-left: 15vw;
  padding-right: 15vw;
}
@media (max-width: 1200px) {
  #section {
    height: auto;
  }
  #section .container-fluid .row:nth-child(2) {
    padding: 0;
    text-align: center;
  }
  #section div .img-fluid {
    padding-left: 0;
    height: 80px !important;
  }
}
@media (max-width: 425px) {
  #section div .img-fluid {
    padding-left: 0;
    height: 60px !important;
  }
  header h1,
  #section h2 {
    padding-top: 4vh;
  }
  h5 {
    display: inline;
  }
}
@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}
