main {
  background-color: #ecf4fa;
  align-content: center;
}

main hr {
  color: rgb(148, 148, 148);
  margin-left: 46.5%;
  width: 7%;
  border: 2px solid rgb(148, 148, 148);
}

main .container {
  
  text-align: center;
}

main img {
  margin-top: 35px;
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

main .face {
  margin-top: 8rem;
  margin-bottom: 5rem;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

main a {
  text-decoration: none;
}
main h1 {
  padding-top: 5rem;
}
main h5 {
  font-weight: 300;
  padding: 0;
}

main h6 {
  color: rgb(2, 206, 233);
}

main .welcome {
  align-content: space-between;
}
main .row{
  padding-bottom: 5rem;
}
main .col {
  margin-left: 1rem;
  margin-right: 1rem;
}

main p {
  margin: 2rem;

}